* {
    margin: 0;
    font-family: "Poppins", sans-serif;

}


a {
    text-decoration: none;
    color: white;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffd6e0b1;
    height: 5rem;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    color: #c2185b;
    align-items: center;
    font-size: 1rem;
    width: 30%;
}

.logo img {
    width: 10%;
    margin-right: 0.8rem;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55%;
    color: #c2185b;
    height: 10%;
    cursor: pointer;
    width: 50%;
    transition: all 1s ease;

}

.nav-item a {
    color: #c2185b;
    font-size: 110%;

}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 53%;
    border: none;
    border-radius: 0px;
    background-color: #ffc0cb;
    color: #e599c3;
    font-weight: bold;
    height: 2rem;
    cursor: pointer;


}



.nav-item:hover {
    color: #e599c3;
}

.nav-item h1 {
    font-size: 1rem;
    color: #b30059;
    cursor: pointer;
    transition: 0.3s;
}

.nav-item a:hover {
    color: #6a1a44;
}

.buttons {
    background-color: #b30059;
    border: none;
    border-radius: 10px;
    padding: 0.4rem 1rem;
    cursor: pointer;
}

.buttons a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* ===== GRID DOS QUADRADOS ===== */
.grid-container {
    margin: 50px auto;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.page-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff8e79d;

}

.page-title {
    color: #b30059;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-top: 30px;

}

.box {
    background-color: #fff3f0;
    border-radius: 12px;
    padding: 22px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    height: 100%;

}

.box h2 {
    font-size: 1.4rem;
    color: #b30059;
    margin-bottom: 12px;
}

.box p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 8px;
}

.tip {
    background-color: #ffe5ec;
    padding: 10px 14px;
    border-radius: 5px;
    margin-top: 12px;
    font-style: italic;
}

footer {
    background-color: #ffd6e0b1;
    color: #c2185b;
    padding: 10px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-conteudo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 120%;
    margin-bottom: -10px;
    align-items: flex-start;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    width: 30%;
    margin: 10px;
}


.footer-logo img {
    width: 10%;
    margin-right: 0.8rem;
}

.footer-logo h1 {
    font-size: 1.5rem;
    color: #c2185b;
}


.footer-secao {
    flex-direction: row;
    justify-content: center;
    width: 50%;
    flex: 1;
    min-width: 150px;
    margin: 10px;
}

.footer-secao h3 {
    font-size: 1.1rem;
    margin-bottom: 15px;
    color: #c2185b;
}

.footer-secao ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-secao ul li a {
    color: #c2185b;
    text-decoration: none;
    font-size: 0.9rem;
    margin-bottom: 8px;
    display: block;
}

.footer-secao ul li a:hover {
    color: #e599c3;
}


.footer-direitos {
    border-top: 1px solid #c2185c2f;
    padding-top: 15px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.8rem;
    width: 110%;
}