* {
    margin: 0;
    font-family: "Poppins", sans-serif;

}


a {
    text-decoration: none;
    color: white;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffd6e0b1;
    height: 5rem;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    color: #c2185b;
    align-items: center;
    font-size: 1rem;
    width: 30%;
}

.logo img {
    width: 10%;
    margin-right: 0.8rem;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    color: #c2185b;
    height: 100%;
    cursor: pointer;
    transition: all 1s ease;
    width: 20%;

}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 55%;
    border: none;
    border-radius: 10%;
    background-color: #c2185b;
    color: #e599c3;
    font-weight: bold;
    height: 2rem;
    cursor: pointer;
    transition: all 2s ease;


}

.buttons:hover {
    transform: scale(1.2);

}


.nav-item:hover {
    color: #e599c3;
    transform: scale(1.2);
}
