* {
    margin: 0;
    font-family: "Poppins", sans-serif;

}


a {
    text-decoration: none;
    color: white;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffd6e0b1;
    height: 5rem;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    color: #c2185b;
    align-items: center;
    font-size: 1rem;
    width: 30%;
}

.logo img {
    width: 10%;
    margin-right: 0.8rem;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55%;
    color: #c2185b;
    height: 10%;
    cursor: pointer;
    width: 50%;
    transition: all 1s ease;

}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: #c2185b;
    color: #e599c3;
    font-weight: bold;
    height: 2rem;
    cursor: pointer;
    transition: all 1s ease;


}

.buttons:hover {
    transform: scale(1.3);

}


.nav-item:hover {
    color: #e599c3;
}


.nav-meio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffd6e0b1;
    height: 500px;
    background-image: url(../assets/img/telaHome.jpg);
    background-size: cover;
    background-position: center;
}



.nav-meio h2 {
    width: 100%;
    color: #f7f2efbc;
    text-align: left;
    font-size: 30px;
    margin-left: 60px;
    margin-top: -50px;

}

.nav-meio2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff8e79d;
    height: 600px;

}

.cuidados {
    color: #c2185b;
    background-color: #fff8e79d;
    text-align: center;
    margin-top: 0%;
    padding: 3% 0% 0% 0%;
}

.card {
    width: 21%;
    height: 70%;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #ffc0cb;
    margin: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card #card1 {
    width: 100%;
    height: 50%;
    margin-top: 0px;
    margin-bottom: 10px;

}

.card #card2 {
    width: 100%;
    height: 50%;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.card #card3 {
    width: 100%;
    height: 50%;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.card #card4 {
    width: 100%;
    height: 50%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #efe8e3;
    margin-bottom: 30px;
    margin-top: 20px;
}

.card p {
    font-size: 20px;
    line-height: 2.0;
    display: flex;
    color: #00271A;
    margin-bottom: 80px;
    text-align: center;
}

.button-saiba-mais {
    color: #c2185b;
    margin-top: 10px;
    margin-bottom: 2%;
    background-color: #ffc0cb;
    border-radius: 6px;
    padding: 10px 50px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    font-size: 15px;
    transition: background 0.3s;
}

.button-saiba-mais:hover {
    background-color: #f7f2efbc;
}
