* {
    margin: 0;
    font-family: "Poppins", sans-serif;

}


a {
    text-decoration: none;
    color: white;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffd6e0b1;
    height: 5rem;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: row;
    color: #c2185b;
    align-items: center;
    font-size: 1rem;
    width: 30%;
}

.logo img {
    width: 10%;
    margin-right: 0.8rem;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55%;
    color: #c2185b;
    height: 10%;
    cursor: pointer;
    width: 50%;
    transition: all 1s ease;

}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: #c2185b;
    color: #e599c3;
    font-weight: bold;
    height: 2rem;
    cursor: pointer;
    transition: all 1s ease;


}

.buttons:hover {
    transform: scale(1.3);

}


.nav-item:hover {
    color: #e599c3;
}


.nav-meio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffd6e0b1;
    height: 500px;
    background-image: url(../assets/img/telaHome.jpg);
    background-size: cover;
    background-position: center;
}



.nav-meio h2 {
    width: 100%;
    color: #f7f2efbc;
    text-align: left;
    font-size: 30px;
    margin-left: 60px;
    margin-top: -50px;

}
