* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

html,

body {
    height: 100%;
}

body {
    background: #fff8e79d;
    color: #c2185cbe;
    min-height: 100vh;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 18%;
    height: 100vh;
    background: #ffd6e0b1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 20px;
    z-index: 100;
}

.sidebar-top h1 {
    text-align: center;
    display: flex;
    flex-direction: row;
    color: #c2185b;
    align-items: center;
    font-size: 1.2rem;

}

.logo-img {
    width: 60px;
    height: auto;
    margin-right: 8px;
    display: block;

}

.nav-sidebar ul {
    list-style: none;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-sidebar a {
    display: block;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-weight: 600;
}

.nav-sidebar a:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.button-sair {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 19px;
    border: none;
    background-color: #ffd6e0b1;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.button-sair:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.reserved {
    text-align: center;
    font-size: 9px;
    color: #c2185b;
}

.fixar {
    background: #c2185c1b;
    color: #c2185b;
}


.main-content {
    margin-left: 260px;
    padding: 25px;
    min-height: 100vh;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 18px;
}

.topbar-left {
    display: flex;
    align-items: center;
}

.topbar-left h1 {
    color: #c2185b;
}

.user {
    margin-top: 3%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    margin-top: 3%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 3%;
}

.dados-cadastrais {
    margin-top: 10%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.dados-cadastrais h6 {
    width: 100%;
    margin-top: -3%;
    color: #c2185b;
    font-size: 1em;
    margin-left: 2%;
}

.editar {
    margin-bottom: 25px;
    max-width: 950px;
    margin-top: -2%;
    margin-left: 1%;

   
}

.editar label {
    flex: 1;
    display: flex;
    min-width: 580px;
    margin-bottom: 0;
    margin: 1%;
    font-weight: bold;
    color: #c2185b;
    font-size: 0.9em;
}

.input-container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.input-container:focus-within {
    border-color: #FF69B4;
    box-shadow: 0 0 0 1px #FF69B4;
}

.input-container input,
.input-container select {
    flex-grow: 1;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    background: transparent;
    color: #333;
    outline: none;

}

.input-container input:disabled {
    background-color: #fff;
    color: #333;
  
}

.edit-icon {
    cursor: pointer;
    color: #999;
    margin-left: 10px;
    transition: color 0.2s, transform 0.2s;
}

.edit-icon:hover {
    color: #FF69B4;
    transform: scale(1.1);
}

.botao-salvar {
    padding: 10px 50px;
    background-color: #c2185b;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 30px;
    margin-left: 37%;
    font-family: "Poppins", sans-serif;
}

.botao-salvar:hover {
    background-color: #fe8dc69e;
    transform: translateY(-1px);
}

#botao_senha {
    background-color: transparent;
    border: none;
}