* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #ffc0cb;
    background-image: url("../assets/img/closeup-seletivo-de-um-gatinho-fofo-no-chao.jpg");
    background-size: cover;
    background-position: center;

}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 75%;
}


.left-container {
    display: block;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 65%;
    height: 120%;
    background-color: rgba(245, 227, 235, 0.684);
    border-radius: 5px;
    border: #fac9e2 3px solid;

}

.left-container h1 {
    color: #c2185b;
    text-align: center;
    font-size: 40px;
    margin-top: 19px;
}

h4 {
    color: #c2185b;
    margin-left: 120px;
    margin-top: 10px;
    font-size: 16px;
}

.right-container {
    width: 45%;
    height: 120%;
    display: block;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background-color: rgba(245, 227, 235, 0.519);
    border-radius: 5px;
}

.right-container h1 {
    color: #c2185b;
    text-align: center;
    margin-top: 250px;
    font-size: 50px;
}

.right-container h3 {
    color: #c2185b;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}


input {
    width: 350px;
    height: 15px;
    padding: 10px;
    border: 1px solid #fe8dc6;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 120px;
    margin-top: 9px;
    cursor: pointer;
}


.button {
    color: #fff;
    background-color: #c2185b;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 40px;

}

p {
    color: #c2185b;
    text-align: center;
    align-items: center;
    margin-right: 80px;
    margin-top: 10px;
}

a {
    color: #c2185b;

}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 690px;
    background-color: #ffc0cb;
    background-image: url("../img/telaCadastro.jpg");
    background-size: cover;
    background-position: center;

}

select {
    width: 370px;
    height: 25px;
    padding: 1=0px;
    border: 1px solid #fe8dc6;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 120px;
    margin-top: 9px;
    cursor: pointer;

}

.select option {
    padding: 10px;
    color: #c2185b;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(245, 227, 235, 0.519);
}