* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}


body {
    background: #fdf7ed;
    color: #444;
    min-height: 100vh;
}



.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 18%;
    height: 100vh;
    background: #ffd6e0b1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 20px;
    z-index: 100;
}

.sidebar-top h1 {
    text-align: center;
    display: flex;
    flex-direction: row;
    color: #c2185b;
    align-items: center;
    font-size: 1.2rem;

}

.logo-img {
    width: 60px;
    height: auto;
    margin-right: 8px;
    display: block;

}

.nav-sidebar ul {
    list-style: none;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-sidebar a {
    display: block;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-weight: 600;
}

.nav-sidebar a:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.button-sair {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 19px;
    border: none;
    background-color: #ffd6e0b1;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.button-sair:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.reserved {
    text-align: center;
    font-size: 9px;
    color: #c2185b;
}

.fixar {
    background: #c2185c2b;
    color: #c2185b;
}

.container {
    display: flex;
    min-height: 100vh
}


.content {
    flex: 1;
    padding: 40px 48px;
    margin-left: 18%;
}

.header {
    text-align: center;
    margin-bottom: 28px;
}

.header h1 {
    color: #c20459;
    font-size: 36px;
}

.kpi-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
    margin-bottom: 34px;
}

.kpi {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
    text-align: center;
}

.kpi h3 {
    color: #c20459;
    font-size: 14px;
    margin-bottom: 6px
}

.kpi p {
    font-size: 28px;
    font-weight: 700;
    color: #444;
}

.graficos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
}

.graf-card {
    background:#fff;
    padding: 18px;
    border-radius: 14px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
}

.graf-card h2 {
    color: #c20459;
    font-size: 16px;
    margin-bottom: 10px
}


.graf-card canvas {
    width: 100% !important;
    height: 240px !important;
    display: block;
}

