* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

html,

body {
    height: 100%;
}

body {
    background: #fff8e79d;
    color: #c2185cbe;
    min-height: 100vh;
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 18%;
    height: 100vh;
    background: #ffd6e0b1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 20px;
    z-index: 100;
}

.sidebar-top h1 {
    text-align: center;
    display: flex;
    flex-direction: row;
    color: #c2185b;
    align-items: center;
    font-size: 1.2rem;

}

.logo-img {
    width: 60px;
    height: auto;
    margin-right: 8px;
    display: block;

}

.nav-sidebar ul {
    list-style: none;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-sidebar a {
    display: block;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-weight: 600;
}

.nav-sidebar a:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.button-sair {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 19px;
    border: none;
    background-color: #ffd6e0b1;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.button-sair:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.reserved {
    text-align: center;
    font-size: 9px;
    color: #c2185b;
}

.fixar {
    background: #c2185c2b;
    color: #c2185b;
}

main {
    flex: 1;
    padding: 70px;
}

h1 {
   
    text-align: center;
    color: #c2185b;
    margin-bottom: 30px;
}

.header {
    margin-bottom: 28px;
}

.header h1 {
    margin-left: 200px;
    color: #c20459;
    font-size: 36px;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    gap: 10px;
}

.top-bar input {
    width: 420px;
    margin-bottom: -90px;
    padding: 10px 15px;
    margin-left: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.top-bar button {
    background-color: #c2185b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: -90px;
    transition: background 0.3s;
}

.top-bar button:hover {
    background-color: #c2185b;
}

table {
    width: 70%;
    margin-left: 24%;
    margin-top: 5%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    overflow: hidden;
}

th, td {
    text-align: left;
    padding: 12px 15px;
}

thead {
    background-color: #c2185b;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #e6f0e2;
}

td.actions {
    text-align: center;
}

td.actions button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    transition: transform 0.2s;
}

td.actions button:hover {
    transform: scale(1.2);
}

.edit-btn {
    color: #fe8dc6;
}

.delete-btn {
    color: #c0392b;
}
