* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

html,

body {
    height: 100%;
}

body {
    background: #fff8e79d;
    color: #c2185cbe;
    min-height: 100vh;
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 18%;
    height: 100vh;
    background: #ffd6e0b1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 20px;
    z-index: 100;
}

.sidebar-top h1 {
    text-align: center;
    display: flex;
    flex-direction: row;
    color: #c2185b;
    align-items: center;
    font-size: 1.2rem;

}

.logo-img {
    width: 60px;
    height: auto;
    margin-right: 8px;
    display: block;

}

.nav-sidebar ul {
    list-style: none;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-sidebar a {
    display: block;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-weight: 600;
}

.nav-sidebar a:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.button-sair {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 19px;
    border: none;
    background-color: #ffd6e0b1;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.button-sair:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.reserved {
    text-align: center;
    font-size: 9px;
    color: #c2185b;
}

.fixar {
    background: #c2185c1b;
    color: #c2185b;
}

 /* CONTEUDO */

.header {
    text-align: center;
    margin-bottom: 38px;
   
}

.header h1 {
    color: #c20459;
    font-size: 36px;
}

.content {
    margin-left: 18%;
    padding: 70px;
    min-height: 100vh;
}


.area-cards {
    display: flex;
    justify-content: flex-start;
    gap: 90px;
    margin-top: 50px;
    margin-left: 50px;
}

.card-nivel {
    width: 280px;
    height: 350px;
    background: #ffe1ea;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}


.card-header {
    background: #ffc0cb;
    padding: 20px;
    text-align: center;
}

.card-header h2 {
    color: #c2185b;
}

.card-body {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body p {
    color: #7a3c50;
}


.btn-play {
    width: 100%;
    padding: 12px;
    background: #c2185b;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-play:hover {
    background: #9d104c;
}
