* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}

html,

body {
    height: 100%;
}

body {
    background: #fff8e79d;
    color: #c2185cbe;
    min-height: 100vh;
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 18%;
    height: 100vh;
    background: #ffd6e0b1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 20px;
    z-index: 100;
}

.sidebar-top h1 {
    text-align: center;
    display: flex;
    flex-direction: row;
    color: #c2185b;
    align-items: center;
    font-size: 1.2rem;

}

.logo-img {
    width: 60px;
    height: auto;
    margin-right: 8px;
    display: block;

}

.nav-sidebar ul {
    list-style: none;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nav-sidebar a {
    display: block;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 8px;
    font-weight: 600;
}

.nav-sidebar a:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.button-sair {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c2185b;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 19px;
    border: none;
    background-color: #ffd6e0b1;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.button-sair:hover {
    background: rgba(255, 255, 255, 0.04);
    color: #fe8dc6;
}

.reserved {
    text-align: center;
    font-size: 9px;
    color: #c2185b;
}

.fixar {
    background: #c2185c2b;
    color: #c2185b;
}


.container {
    display: flex;
    min-height: 100vh
}


.content {
    flex: 1;
    padding: 40px 48px;
    margin-left: 18%;
}

.header {
    text-align: center;
    margin-bottom: 28px;
}

.header h1 {
    color: #c20459;
    font-size: 36px;
}

/* ÁREA PRINCIPAL */
.content {
    flex: 1;
    padding: 50px 50px;
}

.titulo {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitulo {
    margin-bottom: 30px;
    color: #A35E79;
}

/* CARTÃO DO QUIZ */
.quiz-card {
    background-color: #fff;
    border-radius: 15px;
    padding: 50px 30px;
    width: 90%;
    margin-top: 70px;
    margin-left: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.quiz-card h2 {
    color: #C5165C;
    margin-bottom: 10px;
}

.quiz-card p {
    color: #8A3E5F;
    margin-bottom: 20px;
}

.quiz-card1 {
    background-color: #f9ced5ef;
    border-radius: 15px;
    padding: 130px 30px;
    width: 90%;
    margin-top: 70px;
    margin-left: 30px;
}

.quiz-card1 h2 {
    color: #C5165C;
    margin-bottom: 100px;
    text-align: center;
}

.opcoes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.opcoes label {
    background-color: #FDE4EC;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}


.btn-enviar {
    padding: 10px 25px;
    background-color: #C5165C;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}

.btn-enviar:hover {
    background-color: #9d104c;
}

.btn-enviar1 {
    padding: 10px 25px;
    text-align: center;
    background-color: #C5165C;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-left: 450px;
}

.btn-enviar1:hover {
    background-color: #9d104c;
}